/* Formatações de Classes */
/* Formatações Gerais de Elementos */
/* Formatações Top to Bottom */
/*
.div__pedidos {
    width: 400px;

    margin: 30vh auto;

    text-align: center;
}

    .tablePedidos {
        width: 100%;

        border-collapse: collapse;
    }

        .tablePedidos caption {
            font-size: 3em;
            font-weight: bolder;

            text-decoration: underline;
        }

        .tablePedidos thead {
            font-size: 1.25em;
        }

        .div__pedidos__add {
            background-color: #12d400;
            display: inline-block;

            margin: 20px 25px 0;
        }

        .div__pedidos__presencial, .div__pedidos__entrega {
            background-color: #41c6ee;
        }

        .div__pedidos__verNovosPedidos {
            background-color: gold;
            display: inline-block;

            margin-top: 20px;
            margin-left: 5%;
            border-radius: 5px;
            padding: 15px;

            color: black;
            text-decoration: none;
        }

.div__pizzas {
    position: absolute;
    top: 0px;
    left: 0px;
}

    .tablePizzas {
        width: 400px;

        text-align: center;
    }

        .tablePizzas caption {
            font-size: 1.75em;
            font-weight: bolder;
        }

        .tablePizzas tbody tr {
            font-weight: normal;
        }

            .div__pizzas__update {
                background-color: #41c6ee;
                margin-left: 15px;

                font-size: 0.8em;
            }

            .div__pizzas__delete {
                background-color: crimson;

                font-size: 0.8em;
            }

        .div__pizzas__add {
            background-color: #12d400;
            display: inline-block;

            margin-top: 20px;
            margin-left: 50%;
            padding: 10px;

            transform: translateX(-50%);
        }
*/

.pedidos {
    position: relative;
}

    .tablePedidos {
        width: 500px;

        margin: 20vh auto;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692);

        border-collapse: collapse;

        text-align: center;
    }

        .tablePedidos caption {
            font-size: 2em;
            font-weight: 800;
        }

        .tablePedidos thead {
            background-color: #969696;
        }

        .tablePedidos tbody td {
            padding: 10px;
        }

        .tablePedidos tbody tr:nth-child(even) {
            background-color: #ddd;
        }

        .tablePedidos tbody tr:nth-child(odd) {
            background-color: #fff;
        }

                /* Formata a exibição do tipo de Entrega e Pagamento */
                .tablePedidos tbody tr td:nth-child(2), .tablePedidos tbody tr td:nth-child(3) {
                    text-transform: lowercase;
                }

                    .tablePedidos tbody tr td:nth-child(2)::first-letter, .tablePedidos tbody tr td:nth-child(3)::first-letter {
                        text-transform: capitalize;
                    }

                /* Formata as bordas da última linha */
                .tablePedidos tbody tr:last-child td:first-child {
                    border-bottom-left-radius: 5px;
                }

                .tablePedidos tbody tr:last-child td:last-child {
                    border-bottom-right-radius: 5px;
                }

    .buttonsPedidos {
        position: absolute;
        top: 11.5%;
        left: 19.5%;

        display: flex;
        flex-direction: column;
    }

        .buttonsPedidos a {
            display: inline-block;

            margin-bottom: 10px;
        }

            .div__pedidos__filter {
                background-color: #a62cb1;
            }

            .div_pedidos__add {
                background-color: #36da36;
            }