/* Formatações de Classes */
/* Formatações Gerais de Elementos */
/* Formatações Top to Bottom */
.tablePedidosEntrega {
    width: 800px;

    margin: 30vh auto;
    border-collapse: collapse;

    text-align: center;
}

    .tablePedidosEntrega caption {
        font-size: 1.5em;

        text-decoration: underline;
    }

    .tablePedidosEntrega thead {
        font-size: 1.5em;
    }

        .tablePedidosEntrega td {
            border-top: 1px solid #999;
        }

.tablePizzas {
    position: absolute;
    top: 50px;
    left: 50px;

    width: 300px;

    text-align: center;
}

.tablePedidosPresencial {
    position: absolute;
    top: 50px;
    right: 50px;

    width: 300px;

    text-align: center;
}